.dev {
    .bg-primary {
        background-color: #013579;
    }

    .text-primary {
        color: #013579;
    }
}

.dtone {
    .bg-primary {
        background-color: #512BD4;
    }

    .text-primary {
        color: #512BD4;
    }
}

.canuck {
        .bg-primary {
        background-color: #ded278;
    }

    .text-primary {
        color: #ded278;
    }
}

.ecab {
    .bg-primary {
        background-color: #a16e11;
    }

    .text-primary {
        color: #a16e11;
    }
}

.omni {
    .bg-primary {
        background-color: #1797d6;
    }

    .text-primary {
        color: #1797d6;
    }
}

.heritage-int {
    .bg-primary {
        background-color: #233A74;
    }

    .text-primary {
        color: #233A74;
    }
}

.heritage-dom {
    .bg-primary {
        background-color: #233a0d;
    }

    .text-primary {
        color: #233a0d;
    }
}

.bom {
    .bg-primary {
        background-color: #279E9A;
    }

    .text-primary {
        color: #279E9A;
    }
}

.grenada {
    .bg-primary {
        background-color: #838600;
    }

    .text-primary {
        color: #838600;
    }
}

.nbd {
    .bg-primary {
        background-color: #006f53;
    }

    .text-primary {
        color: #006f53;
    }
}

.svcb {
    .bg-primary {
        background-color: #1797D6;
    }

    .text-primary {
        color: #1797D6;
    }
}

.bosvg {
    .bg-primary
    {
        background-color: #6D9D4E;
    }

    .text-primary {
        color: #6D9D4E;
    }
}

.acb {
    .bg-primary
    {
        background-color: #073975;
    }

    .text-primary {
        color: #073975;
    }
}

.bosl {
    .bg-primary
    {
        background-color: #073975;
    }

    .text-primary {
        color: #073975;
    }
}

.vcb {
    .bg-primary
    {
        background-color: #1B7DC1;
    }

    .text-primary {
        color: #1B7DC1;
    }
}

.bon {
    .bg-primary
    {
        background-color: #01703D;
    }

    .text-primary {
        color: #01703D;
    }
}

.fnb-sl {
    .bg-primary {
        background-color: #009CD6;
    }

    .text-primary {
        color: #009CD6;
    }
}

.fnb-sv {
    .bg-primary {
        background-color: #34cd86;
    }

    .text-primary {
        color: #34cd86;
    }
}

.skna {
    .bg-primary {
        background-color: #00563f;
    }

    .text-primary {
        color: #00563f;
    }
}

.nexa {
    .bg-primary {
        background-color: #233A74;
    }

    .text-primary {
        color: #233A74;
    }

}

